@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background: radial-gradient(circle,rgba(25, 66, 59, 1) 44%, rgba(10, 41, 43, 1) 63%, rgba(5, 41, 51, 1) 100%);
}

@layer base {
  :root {
    --background: transparent;
    --foreground: 20 14% 98%;
    --card: 20 14% 8%;
    --card-foreground: 34 78% 91%;
    --popover: 20 14% 6%;
    --popover-foreground: 34 78% 91%;
    --primary: 340 51% 64%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 82% 75%;
    --secondary-foreground: 20 14% 4%;
    --muted: 20 14% 15%;
    --muted-foreground: 34 20% 75%;
    --accent: 0 82% 75%;
    --accent-foreground: 20 14% 4%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 14% 20%;
    --input: 20 14% 20%;
    --ring: 340 51% 64%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
